<div class="row">
  <div class="small-6 large-centered columns">

    <h1><%= @user.username %></h1>
    <h4>First Name: <%= @user.first_name %></h4>
    <h4>Last Name: <%= @user.last_name %></h4>
    <h4>Email: <%= @user.email %></h4>
    <h4>Role: <%= @user.role %></h4>
    <h5>DONT NEED THIS -> <%= link_to "Edit Account", edit_user_path %></h5>


  <% if current_user && current_user.role == 'customer' %>
    <h3>My Bookings</h3>

    <ul>
      <% @user.visitations.each do |visitation| %>
        <li>
          <%= link_to visitation.property.title, visitation.property %>
          at
          <%= nice_datetime visitation.start_time %>
          (<%= pluralize(visitation.num_people, 'person') %>)
          <%= visitation.notes %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% if current_user && current_user.role == 'owner' %>
    <h3>My Listed Properties</h3>
    <ul> 
        <% @user.properties.each do |prop| %>
        <li><%= prop.title %></li>
        <% end %>
    </ul>
  

  <h3>Scheduled Appointments:</h3>
    <ul> 
        <% @all_users.each do |user| %>
          <% if user.role == 'customer' %>
            <% if user.visitations != nil %>
              <% user.visitations.each do |visit| %>
                <li><%= link_to visit.property.title, visit.property %> at Time: <%= visit.start_time %>
                | Number of Guests Expected: <%= visit.num_people %></li>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
    </ul>

  <% end %>
  </div>
</div>