<div class="row">
  <div class="small-6 large-centered columns">

    <h1><%= @user.username %></h1>
    <h4>First Name: <%= @user.first_name %></h4>
    <h4>Last Name: <%= @user.last_name %></h4>
    <h4>Email: <%= @user.email %></h4>
    <h4>Role: <%= @user.role %></h4>
    <h5>DONT NEED THIS -> <%= link_to "Edit Account", edit_user_path %></h5>

    <h3>My Bookings</h3>

    <ul>
      <% @user.visitations.each do |visitation| %>
        <li>
          <%= link_to visitation.property.title, visitation.property %>
          at
          <%= nice_datetime visitation.start_time %>
          (<%= pluralize(visitation.num_people, 'person') %>)
          <%= visitation.notes %>
        </li>
      <% end %>
    </ul>


  </div>
</div>