<%= form_for [@property] do |f| %>
  <fieldset>
    <legend>Property</legend>

  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>
      <ul>
      <% @property.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: "Title" %>
  </div>
  <div>
      <%= f.label :Address %>
      <%= f.text_field :address, placeholder: "Address" %>
  </div>
  <div>
      <%= f.label :Rent_Per_Month %>
      <%= f.text_field :rent, placeholder: "Rent/Month" %>
  </div>
  <div>
    <%= f.label "House Type"%>
    <%= f.select :type_prop, [["Condo", 'condo'], ["Town House", 'townhouse'], ["Single Home", 'single'], ["Bungalow",'bungalow'], ["Apartment", "apartment"]] %>
  </div>
  <div>
      <%= f.label :Rooms%>
      <%= f.number_field :num_rooms, :value => 1, :min => 1, placeholder: "Rooms" %>
  </div>
  <div>
      <%= f.label :Bathrooms %>
      <%= f.number_field :num_bathrooms, :value => 1, :min => 1, placeholder: "Bathrooms" %>
  </div>
  <div>
      <%= f.label :Accomodates %>
      <%= f.number_field :num_accomodates, :value => 1, :min => 1, placeholder: "Accomodates" %>
  </div>
  <div>
      <%= f.label :description %>
      <%= f.text_area :description, placeholder: "Description", size: "24x6" %>
  </div>
  <div>
    <%= f.submit "Save", class: "button" %>
  </div>
  <hr>
  <%= link_to "Back", :back %>
  </fieldset>
<% end %>

